html>
<html lang="en">
<head>
    <title>Income PREDICTION</title>
</head>
<body>
    <h1>INCOME PREDICTION</h1>
    <img src="static/image.png" alt="INCOME PREDICTION">
    
    
    <form action="{{url_for('index') }}" method="post">
        
        age:<input type="number" name="age"placeholder="ENTER YOUR AGE" required><br><br>

        education:
        <select name="education" required>
            <option>Preschool</option>
            <option>1st-4th</option>
            <option>5th-6th</option>
            <option>7th-8th</option>
            <option>9th</option>
            <option>10th</option>
            <option>11th</option>
            <option>12th</option>
            <option>HS-grad</option>
            <option>Some-college</option>
            <option>Assoc-voc</option>
            <option>Assoc-acdm</option>
            <option>Bachelors</option>
            <option>Masters</option>
            <option>Prof-school</option>
            <option>Doctorate</option>
        </select><br><br>

        sex:
        <select name="sex" required>
            <option>Male</option>
            <option>Female</option>
        </select><br><br>

        

       capital-gain:<input type="number" name="capital-gain"placeholder="ENTER YOUR Gain" required><br><br>
        
       capital-loss:<input type="number" name="capital-loss"placeholder="ENTER YOUR Loss" required><br><br>
        
       hours-per-week:<input type="number" name="hours-per-week"placeholder="ENTER YOUR hours" required><br><br>
        
        
       marital_Married-civ-spouse:
        <select name="marital_Married-civ-spouse" required>
            <option value="0">Yes</option>
            <option value="1">No</option>
        </select><br><br>

        occupation_Exec-managerial:
        <select name="occupation_Exec-managerial" required>
            <option value="0">Yes</option>
            <option value="1">No</option>
        </select><br><br>

         
       
        
    <button type="submit">predict</Button>
    </form>
    <h1>{{prediction_text}}

    </h1>
</body>
</html>
